

<table>
    <tr>
    <td>Name</td>
    <td><input type="text"[value]='item.CName'></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text"[value]='item.CEmail'></td>
    </tr>
        <tr>
            <td>Mobile</td>
            <td><input type="number"[value]='item.CMobile'></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="value"[value]='item.CCity'></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="value"[value]='item.CAddress'></td>
        </tr>
        </table>